@font-face {
    font-family: WDXL;
    src: url(WDXLLubrifontSC-Regular.ttf);
}
@font-face {
    font-family: BOP;
    src: url(Birds\ of\ Paradise\ +\ PERSONAL\ USE\ ONLY.ttf);
}
html, body {
  height: 122%;
  margin: 0;
  padding: 0;
body{
    padding: 20px;
    background-image: url(5a402757284697b5a02af118150ca647.jpg);
    color: rgb(255, 255, 255);
    background-size: cover;
}
p{
    font-family: BOP;
    font-size: 25px;
}
h1{
    font-family: WDXL;
    word-spacing: 10PX;
    font-size: 40PX;

